 /*styles of global elements, the size of the cap, footer, sidebar*/
 /*things that occur only one time on a page*/


.navbar {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: var(--red);
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    display: flex;
    align-items: center;
}
    .navbar div {
        padding: 0 1em 0 0;
    }

    .navbar ul { }

    .navbar li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

    .navbar li + li:before {
        content: "·";
        padding: 0 1em 0 0;
    }

    .navbar a {
        color: white;
    }

.page-parents-nav ul {

}

    .page-parents-nav ul:empty {
        display: none;
    }

.page-sections-nav ul {
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    background-color: var(--lightgray);
}

    .page-sections-nav ul:empty {
        display: none;
    }

.content {
    max-width: 800px;
    margin: 0 10% 0 5%;
}

.page-bottom-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1.5em;
}

.footer {
    background-color: var(--blue);
    height: 40px;
    margin: 1em 0 0 0;
}