<div class="expanded-britpick {{ britpick.id }} js-hidden type-{{ britpick.type|slugify }} category-{{ britpick.category|slugify }}">
    <div class="expanded-britpick-togglebar" onclick="toggleExpandedBritpick(this, {{ britpick.id }}, show=false)">[x]</div>
    <div class="expanded-britpick-content"
{#         onmouseover="toggleBritpickHighlight(this, {{ britpick.id }}, toggle=false, highlight=true)"#}
{#         onmouseout="toggleBritpickHighlight(this, {{ britpick.id }}, toggle=false, highlight=false)"#}
{#         onclick="toggleBritpickHighlight(this, {{ britpick.id }}, toggle=true)"#}
{#    >#}
            onclick="clickExpandedBritpick(this, {{ britpick.id }})">
        <ul>
            <li>{{ britpick }}</li>
        </ul>
    </div>
</div>