<span class="inline-britpick {{ britpick.id }} {% for class in classes %}{{ class }}{% endfor %} type-{{ britpick.type|slugify }} category-{{ britpick.category|slugify }}" onclick="clickInlineBritpick(this, {{ britpick.pk }})">

    <span class="inline-britpick-original-text">{{ originaltext }}</span>

    <span class="inline-britpick-content">
        [
        {{ britpick }}
        <span class="inline-britpick-open-expanded inline-britpick-button {{ britpick.pk }}" onclick="toggleExpandedBritpick(this, {{ britpick.pk }}, show=true)">
            expand
        </span>
        ]
    </span>

    <span class="inline-britpick-button inline-britpick-hide-inlines {{ britpick.pk }}" onclick="toggleInlineBritpicks({{ britpick.pk }}, show=false)">
        (hide similar)
    </span>
</span>