{% if topics %}

    {% with current_topic=current_topic|default:None toplevel=toplevel|default:True %}
<ul class="topiclist {% if toplevel %}toplevel{% endif %}">
    {% for topic in topics %}
        {% if not current_topic or topic == current_topic or topic in current_topic.parent_topics or topic in current_topic.parent_topic.child_topics.all or topic in current_topic.descendent_topics %}

            <li>
                {% if topic != current_topic %}<a href="{% url 'britpick_app:topic' topic.slug %}">{{ topic.name }}</a>{% else %}{{ topic.name }}{% endif %}
                {% if topic == current_topic or current_topic == None or topic in current_topic.descendent_topics or topic in current_topic.parent_topics %}
                    {% include "britpick_app/snippets/topic_list.html" with topics=topic.child_topics.all toplevel=False current_topic=current_topic %}
                {% endif %}
            </li>
        {% endif %}



    {% endfor %}
</ul>
    {% endwith %}
{% endif %}