ul.topiclist ul {
    margin-bottom: 1em;
    margin-left: 10px;
}

ul.topiclist li {
    margin-bottom: 0.2em;
}


ul.listlevel-top > li {
    font-weight: bold;
}

/*ul.listlevel-top {*/
    /*margin-bottom: 50px;*/
/*}*/

/*ul.listlevel-top ul {*/
    /*margin-bottom: 0.1em;*/
/*}*/

/*ul.listlevel-1 li {*/
    /*margin-left: 10px;*/
    /*font-size: 0.9em;*/
    /*!*margin-bottom: 0.1em;*!*/
/*}*/
