<!DOCTYPE html>
<html lang="en">
{% load dict_access %}
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>
        {% if title == 'Britpick' %}
            {{ title }}
        {% elif not title %}
            Britpick
        {% else %}
            {{ title }} - Britpick
        {% endif %}
    </title>
{#    <link rel="stylesheet" href="/static/britpick_app/britpick.css">#}
<link rel="stylesheet" href="/static/britpick_app/css/base.css">
<link rel="stylesheet" href="/static/britpick_app/css/layout.css">
<link rel="stylesheet" href="/static/britpick_app/css/modules.css">
<link rel="stylesheet" href="/static/britpick_app/css/debug.css">
<link rel="stylesheet" href="/static/britpick_app/css/britpick.css">
<link rel="stylesheet" href="/static/britpick_app/css/script.css">
    <link rel="stylesheet" href="{% block custom-css %}{% endblock %}">
    <script src="/static/britpick_app/base.js"></script>
{% if user.is_superuser %}<script src="/static/britpick_app/debug.js"></script>{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon/crown.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon/crown.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/crown-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/crown-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/crown-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/crown-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/crown-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/crown-16.png">
	<link rel="apple-touch-icon" href="/static/favicon/crown-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/crown-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/crown-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/crown-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/crown-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/crown-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/crown-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/crown-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/crown-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/favicon/crown-144.png">
	<meta name="msapplication-config" content="/static/browserconfig.xml">
    {% block includes %}{% endblock %}

</head>
<body>


<div class="navbar">
    <div><a href="{% url 'britpick_app:britpick' %}"><img class="navbar-crown" src="/static/navbar-crown-128.png" width="32" height="32"></a></div>
    <div>
        <ul>
            <li><a href="{% url 'britpick_app:britpick' %}">Britpick</a></li>
            <li><a href="{% url 'britpick_app:topiclist' %}">Topics</a></li>
            <li><a href="{% url 'britpick_app:search' %}">Search</a></li>
            <li><a href="{% url 'britpick_app:references' %}">References</a></li>
            <li><a href="{% url 'britpick_app:about' %}">About</a></li>
        </ul>
    </div>
</div>



<div class="content-container">
    <div class="page-parents-nav"><ul class="hierarchy-nav">{% block page-parents-nav %}{% endblock %}</ul></div>

    <h1>{{ title }}</h1>
    {% if user.is_superuser %}
        {% if adminlink %}
            <p class="adminlink"><a href="{{ adminlink }}" target="_blank">edit</a></p>
        {% endif %}
        <a onclick="toggleClassVisibility('debug-container')">show/hide debug</a>
    {% endif %}
    <div class="page-sections-nav"><ul class="choice-nav">{% block page-section-nav %}{% endblock %}</ul></div>
    <div class="content-columns">
        {% if user.is_superuser %}
            <div class="debug-container">
                {% include "britpick_app/snippets/showhideclass_bydict.html" with header='modules' dict=logger.modules %}
                {% include "britpick_app/snippets/showhideclass_bydict.html" with header='message type' dict=logger.messagetypes %}
                {% include "britpick_app/snippets/showhideclass_bydict.html" with header='log items' dict=logger.logitemclasses %}
                {% include "britpick_app/snippets/showhideclass_bydict.html" with header='tags' dict=logger.tags %}
                <ul>
                    {% for log in logger.logs %}
                        <li class="{% for c in log.classes %}{{ c }} {% endfor %}">
                            {% for logitem in logger.logitemdisplay %}
                                <span class="logitem {{ logger.logitemclasses|get_item:logitem.name }} {% if not logitem.visible %}js-hidden{% endif %}">{{ log|get_item:logitem.name }} :</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="page-bottom-nav">
        <div id="bottom-nav-left">{% block bottom-nav-left %}{% endblock %}</div>
{#        <div id="bottom-nav-center">{% block bottom-nav-center %}<a href="#">top</a>{% endblock %}</div>#}
        <div id="bottom-nav-right">{% block bottom-nav-right %}{% endblock %}</div>
    </div>

</div>

<div class="footer"></div>



</body>
</html>