<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>
        {% if title == 'Britpick' %}
            {{ title }}
        {% elif not title %}
            Britpick
        {% else %}
            {{ title }} - Britpick
        {% endif %}
    </title>
    <link rel="stylesheet" href="/static/britpick_app/britpick.css">
    <link rel="stylesheet" href="{% block custom-css %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon/crown.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon/crown.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/crown-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/crown-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/crown-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/crown-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/crown-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/crown-16.png">
	<link rel="apple-touch-icon" href="/static/favicon/crown-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/crown-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/crown-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/crown-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/crown-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/crown-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/crown-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/crown-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/crown-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/favicon/crown-144.png">
	<meta name="msapplication-config" content="/static/browserconfig.xml">
</head>
<body>


<div class="navbar header">
    <a href="{% url 'britpick' %}"><img class="navbar image" src="/static/navbar-crown-32.png"></a>
    <span class="navbar item"><a href="{% url 'britpick_app:britpick' %}">Britpick</a></span>
    ·
    <span class="navbar item"><a href="{% url 'britpick_app:topiclist' %}">Topics</a></span>
    ·
    <span class="navbar item"><a href="{% url 'britpick_app:search' %}">Search</a></span>
    ·
    <span class="navbar item"><a href="{% url 'britpick_app:references' %}">References</a></span>
    ·
    <span class="navbar item"><a href="{% url 'britpick_app:about' %}">About</a></span>
</div>


<div class="content">
    <div class="nav hierarchy-nav">
        {% block hierarchy-nav %}{% endblock %}
    </div>
    <h1>{{ title }}</h1>
    {% if user.is_superuser %}
        {% if adminlink %}
            <p class="adminlink"><a href="{{ adminlink }}" target="_blank">edit</a></p>
        {% endif %}
    {% endif %}
    <div class="nav choice-nav">
        {% block choice-nav %}{% endblock %}
    </div>
    <div class="{{ csspage }}">
        {% block content %}
        {% endblock %}
    </div>
    <div class="nav bottom-nav">
        <div id="bottom-nav-left">{% block bottom-nav-left %}{% endblock %}</div>
        <div id="bottom-nav-center">{% block bottom-nav-center %}<a href="#">top</a>{% endblock %}</div>
        <div id="bottom-nav-right">{% block bottom-nav-right %}{% endblock %}</div>
    </div>
</div>

<div class="navbar footer"></div>

{% if user.is_superuser %}
<div class="content">
    <h3>Debug:</h3>
    <p>
    {{ debug|safe }}
    </p>
</div>
{% endif %}

</body>
</html>