{% extends 'britpick_app/base.html' %}
{% load md2 %}

{% block page-parents-nav %}
    <li><a href="{% url 'britpick_app:topiclist' %}">Topics</a></li>
    {% for parent_topic in topic.parent_topics %}
        <li><a href="{% url 'britpick_app:topic' parent_topic.slug %}">{{ parent_topic.name }}</a></li>
    {% endfor %}
    <li>{{ topic.name }}</li>
{% endblock %}

{% block page-section-nav %}
    {% if topic.references.all %}<li><a href="#references">references</a></li>{% endif %}
    {% if topic.related_topics.all %}<li><a href="#related-topics">see also</a></li>{% endif %}
    <li><a href="#topic-map">topic map</a></li>
{% endblock %}

{% block content %}

    <div class="topic-section topicmap" id="topic-map">
        {% include "britpick_app/snippets/topic_list.html" with topics=topic.top_parent_or_self_as_list current_topic=topic toplevel=True %}
    </div>


{% for text in topic.texts.all %}
    <div class="topic-section">
        {% if text.reference %}<p>Excerpt from <a href="{{ text.reference.url }}">{{ text.reference.name }}</a>:</p>{% endif %}
        {% if text.direct_quote == text.EXPLANATION_QUOTE %}<div class="excerpt">{% endif %}
        {{ text.text|markdown }}
        {% if text.direct_quote == text.EXPLANATION_QUOTE %}</div>{% endif %}
    </div>
{% endfor %}


    {% if topic.references.all %}
        <div class="topic-section" id="references">
        <div class="section-header">References</div>
            {% include "britpick_app/snippets/reference_list.html" with references=topic.references.all %}
        </div>
    {% endif %}

    {% if topic.related_topics.all %}
        <div class="topic-section" id="related-topics">
                <div class="section-header">See also</div>
                <ul class="topiclist toplevel">
                    {% for topic in topic.related_topics.all %}
                    <li>{% include "britpick_app/snippets/topic_link.html" %}</li>
                    {% endfor %}
                </ul>
        </div>
    {% endif %}

{% endblock %}

{% block bottom-nav-left %}
    {% if topic.previous_topic %}
        < <a href="{% url 'britpick_app:topic' topic.previous_topic.slug %}">{{ topic.previous_topic.name }}</a>
    {% endif %}
{% endblock %}

{% block bottom-nav-right %}
    {% if topic.next_topic %}
        <a href="{% url 'britpick_app:topic' topic.next_topic.slug %}">{{ topic.next_topic.name }}</a> >
    {% endif %}
{% endblock %}