.inline-insert-after .form-row .inline-group {
    margin-top: 30px;
}

.module {
    margin-bottom: 0;
}

.module.aligned label {
    max-width: 90px;
    text-align: right;
}

.module.aligned label.vCheckboxLabel.inline {
    max-width: initial;
}

.module.aligned .readonly {
    margin-left: 100px;
}

.module.aligned.collapse div {
    background-color: #dcdcdc;
}

.module.aligned.collapse .form-row {
    padding: 10px 20px;
}

/*div[class*="field-"] {*/
    /*background-color: #ececec;*/
/*}*/

/*!*optional fields*!*/
/*.model-britpick.change-form .field-box.field-_description,*/
/*.model-britpick.change-form .field-box.field-_name,*/
/*.model-word.change-form .field-_description,*/
/*.model-word.change-form .field-dialect,*/
/*.model-word.change-form .field-britpick_type*/
/*{*/
    /*background-color: white;*/
/*}*/

fieldset label {
    font-weight: bold;
}

.small-text-field {
    width: 15em;
}

.medium-text-field {
    max-height: 5em;
    max-width: 260px;
    /*to match input boxes*/
}

.large-text-field {
    max-width: 400px;
}

.select2 .select2-container .select2-container--admin-autocomplete {
    width: 100% !important;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice {
    background-color: #79aec8 !important;
    color: white;
    border: none !important;
    padding: 3px 8px !important;
    margin-right: 2px !important;
    margin-top: 2px !important;
    /*font-size: 14px;*/
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove {
    color: #f1f1f1 !important;
}

.module select {
    font-size: 13px;
}

.tabular input.vURLField {

}


@media (max-width: 1024px) {
    fieldset .field-box {
        float: left !important;
        margin: initial !important;
        margin-right: 20px !important;
        margin-left: -10px !important;
        padding: 10px !important;
        border-top: 0 !important;
    }

    fieldset.checkbox-fieldset .field-box {
        padding: 5px !important;
    }

    label {
        font-size: 13px !important;
    }

    .aligned label {
        padding-top: 0 !important;
    }

    .form-row select {
        font-size: 13px !important;
    }
}


fieldset {
    margin-left: 15px;
    /*padding-left: 15px;*/
    /*border-bottom: 1px solid #eee;*/
}

fieldset.header-fieldset {
    background-color: #79aec8;
    margin-left: 0;
    padding-left: 15px;
}

fieldset.header-fieldset .form-row {
    border-bottom: none;
}

fieldset.header-fieldset label {
    color: white !important;
}

fieldset.header-fieldset .help {
    color: #e6e6e6 !important;
}

fieldset.indented-fieldset {
    margin-left: 50px;
    padding-left: 10px;
}

fieldset.internal-fieldset {
    background-color: #e6e6e6;
    margin-left: 0;
    margin-top: 10px;
}

fieldset.internal-fieldset label {
    color: #969696 !important;
    font-weight: normal !important;
}

fieldset.internal-fieldset .form-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

fieldset.checkbox-fieldset .form-row {
    padding: 5px;
    border-bottom: none;
}

fieldset.checkbox-fieldset {
    background-color: #f8f8f8;
    margin-left: 0;
    padding-left: 125px !important;
    border: 1px solid #eee;
    /*border-left: 1px solid #eee;*/
    /*border-bottom: 1px solid #eee;*/
    /*border-right: 1px solid #eee;*/
}

fieldset.inlineemphasis-fieldset {
    margin-left: 0;
    background-color: #c5dbe6;
    /*border: none;*/
}

fieldset.inlineemphasis-fieldset h2 {
    /*margin: 0 0 0 -15px;*/
}

/*fieldset.inlinemphasis-fieldset div.form-row {*/
    /*border: none;*/
/*}*/

fieldset.inlineemphasis-fieldset .form-row {
    /*margin-right: 15px;*/
    margin-left: 15px;
    margin-right: 15px;
    border-bottom-color: #d3ebf7;
}

fieldset.lightgray-fieldset {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    margin-left: 0;
}

fieldset.darkgray-fieldset {
    background-color: #969696;
    border: 1px solid #eee;
    color: #969696 !important;
}

fieldset.optional-fieldset {
    /*background-color: #f8f8f8;*/
}

fieldset.optional-fieldset label {
    font-weight: normal !important;
}

.form-row {
    /*border-bottom: none;*/
}

/*.optional-fieldset label {*/
    /*color: #a9a9a9;*/
/*}*/

.model-britpick.change-form .inline-related h2 {
    display: none;
}

.model-britpick.change-form .inline-related td.original p {
    display: none;
}

.model-britpick.change-form .inline-related tr.form-row,
.model-britpick.change-form .inline-related tr.form-row td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.inline-related h2 {
    display: none;
}

.inline-related td.original p {
    display: none;
}

.inline-related tr.form-row,
.inline-related tr.form-row td {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em;
}

form .aligned div.help,
form .aligned input + div.help {
    /*margin-left: 90px !important;*/
    margin-left: 18px !important;
    max-width: 250px;
}

.aligned label {
    padding-top: 0;
}

.aligned label + div.readonly {
    padding: 3px 0;
}

.aligned label + p {
    margin-left: 100px;
    padding-top: 0;
}

td.delete {
    background-color: #e6e6e6;
}



/*BRITPICK*/

td.field-modifiers ul {
    margin-left: 0;
}

/*ul#id_search_strings-0-modifiers {*/
    /*margin-left: 0;*/
/*}*/

td.field-modifiers li {
    display: inline;
}


/*WORD*/

.model-word div#quotes-group td {
    padding-top: 10px;
}

.model-word div#quotes-group td.field-text {
    width: 250px;
    max-width: 100%;
    padding-left: 110px;
    padding-right: 40px;
}

.model-word div#quotes-group textarea {
    width: 100%;
    /*max-width: 100%;*/
    max-height: 100px;
}


/*TOPIC*/
.model-topic textarea[id*="id_excerpts"] {
    max-width: 400px;
}





/*don't display add/edit/change links for certain drop-downs'*/



/*.model-word div#quotes-group .vLargeTextField {*/
    /*width: 100%;*/
/*}*/



[class*="_category"] a.related-widget-wrapper-link, [class*="-category"] a.related-widget-wrapper-link, [class*="-types"] a.related-widget-wrapper-link, [class*="-dialect"] a.related-widget-wrapper-link {
    display: none;
}



/*.model-word div#quotes-group tr.form-row td {*/
    /*max-width: 100px;*/
/*}*/


/*.model-britpick.change-form .module.aligned.collapse label {*/
    /*display: none;*/
/*}*/


.hidden-label {
    display: none;
}

.field-box[class*="_changelinks"] label.inline {
    display: none;
}

.field-box[class*="_changelinks"] .readonly {
    margin-left: 0;
}

[class*="_changelinks"] .readonly {
    font-size: 14px;
}

[class*="_changelinks"] .readonly a.change-icon:after {
    content:url(/static/admin/img/icon-changelink.svg);
    margin-left: 5px
}

.field-quotes_changelinks .readonly div {
    margin-bottom: 0.75em;
    font-size: 13px;
}

/*.britpick-inline select {*/
    /*background-color: yellow;*/
    /*visibility: hidden;*/
    /*display: none;*/
/*}*/