body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.directreplacement {
    color: crimson;
}

.considerreplacement {
    color: palevioletred;
}

.clarifyreplacement {
    color: darkorange;
}

.americanslang {
    color: darkviolet;
}

.foundword {
    font-weight: bold;
    background-color: gray;
}
