body {
    background-color: white;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif ;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 14px;
}

.mandatory {
    background-color: red;
    color: white;
    font-weight: bold;
}

.replacement {
    background-color: yellow;
    font-weight: bold;
}

.directreplacement {
    /*color: black;*/
    /*font-weight: bold;*/
    background-color: orange;
    /*color: white;*/
}

.considerreplacement {
    /*color: black;*/
}

.clarifyreplacement {
    /*color: black;*/
    font-style: italic;
    font-size: smaller;
}

.foundword {
    font-weight: bold;
    /*background-color: lightgray;*/
}

.topiclink {
    font-weight: bold;
    background-color: greenyellow;
}

.searchword {
    font-weight: bold;
}

.foundreplacementwords {
    background-color: greenyellow;
}

.foundclarifyreplacement {
    background-color: orange;
}

.topictext {
    /*background-color: greenyellow;*/
}

.topictext p {
    color: darkviolet;
}

.quoted {
    margin-left: 5%;
}

.citation-inline {
    background-color: yellow;
}

.topiclist {

}

.topiclistitem {

}

.topiclistitem.main {
    font-weight: bold;
}
