{% load custom_tags %}

<h2>Input</h2>
<form action="/britpick/" method="post">
    {% csrf_token %}

    {{ form }}

    <input type="submit" value="Submit">
</form>




{% if forminput %}

    <h2>Britpicked</h2>
    <ul>
        <li>Dialect: {{ forminput.dialect }}</li>
        <li>Words:
        {% for category in forminput.replacement_categories %}
            {% if forloop.first %}{{ category }}{% else %} | {{ category }}{% endif %}
        {% endfor %}</li>
        <li>Search in: {{ forminput.dialogue_option }}</li>
    </ul>

    <div class="outputtext">
        {%  outputtexttemplate outputtext|safe replacements %}
    </div>

{% endif %}