<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Britpick</title>
    <link rel="stylesheet" href="../static/britpick.css">
</head>
<body>

<h2>Input</h2>
<form action="/britpick/" method="post">
    {% csrf_token %}

{#    <input type="text" id="id_text" name="text" value="{{ text }}">#}
    <textarea id="id_text" name="text" rows="10" cols="30">{{ text }}</textarea>
    <br />
{#    {{ form.text }}#}
    {{ form.dialect }}
    {{ form.dialogue }}

    <input type="submit" value="Submit">
</form>

<h2>Dialect: {{ dialect }}</h2>
{{ britpickedtext|safe }}

{% if showdebug %}
    <h3>Debug:</h3>
    <p>
    {{ debug }}
    </p>
{% endif %}
</body>
</html>