<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Britpick - Search</title>
    <link rel="stylesheet" href="../static/britpick.css">
</head>
<body>

<form action="/britpick/search/" method="post">
    {% csrf_token %}
    {{  form }}
    <input type="submit" value="Submit">
</form>
<p><b>{{ search }}</b></p>
<p>Input:</p>
{% if searchwords %}
    {% for i in searchwords %}
        <p>
            <a href="/admin/app/britpickfindreplace/{{ i.pk }}/change/" target="_blank">{{ i.string }}</a>
        </p>
    {% endfor %}
{% else %}
    Word not found in searchwords
{%  endif %}

<p>Output:</p>
{% if replacementwords %}
    {% for i in replacementwords %}
        <p>
            <a href="/admin/app/britpickfindreplace/{{ i.pk }}/change/" target="_blank">{{ i.string }}</a>
        </p>
    {% endfor %}
{% else %}
    Word not found in directreplacement or considerreplacement
{%  endif %}

<p>
    <a href="/admin/app/britpickfindreplace/add/" target="_blank">Add new word</a>
</p>
</body>
</html>