<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Britpick Topics</title>
    <link rel="stylesheet" href="/static/britpick.css">
</head>
<body>

<h2>{{ topic.name }}</h2>

<div class="topictext">
    {{ topichtml|safe }}
</div>

{% if searchwordobjects %}
    <h3>Related Words</h3>
    {% for o in searchwordobjects %}
        {% if o.replacementwordsstring %}
            {% include "britpick_wordsnippet.html" %}
        {% elif o.clarifyreplacementstring %}
            {% include "britpick_wordsnippet.html" %}
        {% endif %}
    {% endfor %}
{%  endif %}


{% if topic.allrelatedtopics %}
    <h3>Related Topics</h3>
    {% for relatedtopic in topic.allrelatedtopics %}
        <p>
            {{ relatedtopic.linkhtml|safe }}
        </p>
    {% endfor %}
{%  endif %}


{% if citations %}
    <h3>References</h3>
    {% for citation in citations %}
        <p>
            <a href="{{ citation.url }}" target="_blank">{{ citation.name }}</a>
        </p>
    {% endfor %}
{%  endif %}


{% if showdebug %}
    <h3>Debug:</h3>
    <p>
    {{ debug|safe }}
    </p>
{% endif %}
</body>
</html>