{% load custom_tags %}


<div class="form-container">
<form action="{% url 'britpick' %}" method="post">
    {% csrf_token %}

    <div class="form-row">
        {{ form.text }}
        {{ form.text.errors }}
    </div>

    <div class="form-row">
        {{ form.dialect }}
        {{ form.dialect.errors }}

        {{ form.dialogue_option }}
        {{ form.dialogue_option.errors }}

        {{ form.replacement_categories }}
        {{ form.replacement_categories.errors }}
    </div>

    <div class="form-row">
        <input type="submit" value="Submit">
    </div>

</form>
</div>



<div class="output-container">
{% if forminput %}

    <h2>Britpicked</h2>
    <ul>
        <li>Dialect: {{ forminput.dialect }}</li>
        <li>Words:
        {% for category in forminput.replacement_categories %}
            {% if forloop.first %}{{ category }}{% else %} | {{ category }}{% endif %}
        {% endfor %}</li>
        <li>Search in: {{ forminput.dialogue_option }}</li>
    </ul>

    <div class="outputtext">
        {%  outputtexttemplate outputtext|safe replacements %}
    </div>

{% endif %}
</div>