<div class="topictext">
    {{ topichtml|safe }}
</div>

{% if searchwordobjects %}
    <h3>Related Words</h3>
    <ul>
        {% for o in searchwordobjects %}
            <li>{% include "britpick_wordsnippet.html" %}</li>
        {% endfor %}
    </ul>
{%  endif %}


{% if topic.allrelatedtopics %}
    <h3>Related Topics</h3>
    <ul>
        {% for relatedtopic in topic.allrelatedtopics %}
            <li>{{ relatedtopic.linkhtml|safe }}</li>
        {% endfor %}
    </ul>
{%  endif %}


{% if citations %}
    <h3>References</h3>
    <ul>
        {% for citation in citations %}
            <li><a href="{{ citation.url }}" target="_blank">{{ citation.name }}</a></li>
        {% endfor %}
    </ul>
{%  endif %}
