<span class="replacementwrapper category-{{ replacement.category.name }}">
    <span class="inputtext"><a href="{% url 'word' replacementpk=replacement.pk %}">{{ inputtext }}</a></span>

    {% if replacement.replacementhtml %}
        [<a href="{% url 'word' replacementpk=replacement.pk %}">{{ replacement.replacementhtml|safe }}</a>]
    {% endif %}

    {% if replacement.topics.all %}
        {% for topic in replacement.topics.all %}
            [<a href="{% url 'topic' topicslug=topic.slug %}" title="{{ topic.name }}"><img src="/static/red-crown-16.png"></a>]
{#            [<span class="topiclink"><img src="/static/red-crown-16.png"> {{ topic.linkhtml|safe }}</span>]#}
        {% endfor %}
    {% endif %}
</span>