
<form action="/britpick/search/" method="post">
    {% csrf_token %}
    {{  form }}
    <input type="submit" value="Submit">
</form>
<p><b>{{ search }}</b></p>
<p>Input:</p>
{% if searchwordobjects %}
    <ul>
    {% for o in searchwordobjects %}
        <li>{% include "replacement_list.html" with replacement=o showtopics=True  %}</li>
    {% endfor %}
    </ul>
{% else %}
    Word not found in searchwords
{%  endif %}

<p>Output:</p>
{% if replacementwordobjects %}
    <ul>
    {% for o in replacementwordobjects %}
        <li>
            {% include "replacement_list.html" with replacement=o showtopics=True %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    Word not found in directreplacement or considerreplacement
{%  endif %}

<p>
    <a href="/admin/app/replacement/add/" target="_blank">Add new word</a>
</p>
