<div class="topictext">
    {{ topichtml|safe }}
</div>

{% if searchwordobjects %}
    <h3>Related Words</h3>
    <ul>
        {% for o in searchwordobjects %}
            <li>{% include "britpick_wordsnippet.html" %}</li>
        {% endfor %}
    </ul>
{%  endif %}


{% if topic.relatedtopics.all %}
    <h3>Related Topics</h3>
    <ul>
        {% for relatedtopic in topic.relatedtopics.all %}
            <li>{{ relatedtopic.linkhtml|safe }}</li>
        {% endfor %}
    </ul>
{%  endif %}


{% if references %}
    <h3>References</h3>
    <ul>
        {% for reference in references %}
            <li>{{ reference.link|safe }}</li>
        {% endfor %}
    </ul>
{%  endif %}
