<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Britpick Topics</title>
    <link rel="stylesheet" href="/static/britpick.css">
</head>
<body>

<h2>Britpick Topics</h2>


{% if topics %}
    <ul class="topiclist">
    {% for topic in topics %}
        <li class="topiclistitem {% if topic.maintopic %}main{% endif %}">
            {{ topic.linkhtml|safe }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics found.</p>
{%  endif %}


{% if showdebug %}
    <h3>Debug:</h3>
    <p>
    {{ debug|safe }}
    </p>
{% endif %}
</body>
</html>